# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
Cards.SPA/dist
Cards.SPA/tmp
Cards.SPA/out-tsc
# Only exists if Bazel was run
Cards.SPA/bazel-out

# dependencies
Cards.SPA/node_modules

Cards.API/bin/
Cards.API/obj/
Cards.Core/bin/
Cards.Core/obj/

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
